/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    min-height: 100dvh; /* Real mobile height */

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("heart-bg.jpg");
    background-size: cover;
    background-position: center;

    font-family: "Pixelify Sans", sans-serif;

    overflow: hidden;
}

/* Envelope Screen */
#envelope-container {
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

/* Pulse Animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#envelope {
    width: 65vw;
    max-width: 220px;
    animation: pulse 1.5s infinite;
}

/* Letter Container */
#letter-container {
    display: none;
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.3);

    justify-content: center;
    align-items: center;

    padding: 10px;
}

/* Letter Window */
.letter-window {
    width: 100%;
    max-width: 380px;

    height: 90dvh; /* Fits screen */
    max-height: 620px;

    padding: 120px 15px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    border-radius: 12px;

    gap: 6px;

    overflow-y: auto;

    transform: scale(1.05);
    opacity: 0;

    transition: all 0.5s ease;
}

/* Open Animation */
.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

/* Title */
h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Text */
p {
    font-size: 0.9rem;
}

/* Cat */
.cat {
    width: 55%;
    max-width: 150px;

    margin: 6px 0;

    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 120px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 5px;
}

/* Button Images */
.btn {
    width: 70px;
    max-width: 25vw;

    cursor: pointer;
    user-select: none;
}

/* YES Button */
.yes-btn {
    z-index: 2;
    transition: transform 0.3s ease;
}

/* NO Button */
.no-btn {
    z-index: 1;
    transition: transform 0.2s ease;
    cursor: default;
}

/* Final Text */

.final-text {
    display: none;

    font-size: 0.85rem;
    line-height: 1.4;

    padding: 8px 12px;

    background-color: rgba(255,240,240,0.6);

    border-radius: 10px;

    margin-top: 6px;
}

.final-text.show {
    display: block;
}


/* Small Phones */
@media (max-height: 650px) {

    .letter-window {
        padding-top: 95px;
    }

    .cat {
        max-width: 130px;
    }

    .btn {
        width: 60px;
    }

    h1 {
        font-size: 1.1rem;
    }
}



